@using X.PagedList.Mvc.Core
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model X.PagedList.IPagedList<MusicStream.Models.Track>
<main class="main">
    <div class="container-fluid" style="min-height: 400px;">
        <div class="row row--grid">
            <!-- breadcrumb -->
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb__item breadcrumb__item--active">Bài hát ưu thích</li>
                </ul>
            </div>
            <!-- end breadcrumb -->
            <!-- title -->
            <div class="col-12">
                <div class="main__title main__title--page">
                    <h1>Danh sách bài hát ưa thích</h1>
                </div>
            </div>
            <!-- end title -->
        </div>
        <!-- releases -->
        <div class="row row--grid">
            <div class="col-12">
                @if (Model.Count == 0)
                {
                    <div class="text-center mt-5 mb-5">
                        <h1 class="text-center mb-3" style="color: #fff; text-align: center;">Danh sách bài hát yêu thích của bạn đang trống.</h1>
                        <h1 class="text-center" style="color: #fff; text-align: center;">Hãy quay lại trang chủ và khám phá thêm các bài hát của MusicStreaming</h1>
                    </div>
                }
                else
                {
                    <div class="row row--grid">
                        @foreach (var track in Model)
                        {
                            <div class="col-6 col-sm-4 col-lg-2">
                                <div class="album">
                                    <div class="album__cover">
                                        <img src="@track.Image" alt="">
                                        <a href="/album/detail/@track.AlbumId"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z" /></svg></a>
                                    </div>
                                    <div class="album__title">
                                        <h3><a href="/album/detail/@track.AlbumId">@track.Name</a></h3>
                                        <span>
                                            @foreach (var artist in track.ArtistTracks)
                                            {
                                                <a href="/artist/detail/@artist.ArtistId">@artist.Artist.Fullname</a> @(track.ArtistTracks.ToList().IndexOf(artist) != track.ArtistTracks.Count - 1 ? " & " : "")
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @Html.PagedListPager(Model, page => Url.Action("favourite-song", new { page}))
                }
            </div>
        </div>
        <!-- end releases -->
    </div>
</main>