@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<main class="main">

    <div class="container-fluid">
        <div class="row row--grid">
            <!-- breadcrumb -->
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb__item"><a href="/admin/album">Quản lí album</a></li>
                    <li class="breadcrumb__item">Album</li>
                    <li class="breadcrumb__item breadcrumb__item--active">Tạo bài hát mới</li>
                </ul>
            </div>
            <!-- end breadcrumb -->
            <!-- title -->
            <div class="col-12">
                <div class="main__title main__title--page">
                    <div class="row">
                        <div class="col-md-9">
                            <h2>Thêm bài hát mới</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end title -->
        </div>
        <div class="row">
            <div class="row">
                <form enctype="multipart/form-data" method="post" action="/admin/addtrack"
                    class="sign__form sign__form--contacts" id="form-add-track">
                    <div class="row w-100">
                        <input type="hidden" value="@ViewBag.AlbumId" name="albumId" />
                        <input type="hidden" name="duration" id="track-duration" />
                        <div class="col-12 col-md-12">
                            <div class="sign__group w-100">
                                <label class="sign__label" for="Album-name">Tên bài hát</label>
                                <input type="text" name="name" id="Album-name" class="sign__input"
                                    placeholder="Tên bài hát">
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <img id="album--img--add"
                                style="width: 300px; height: auto; border-radius: 20px; display: none;" />
                        </div>
                        <div class="col-12 mb-3">
                            <p class="text-white" style="display: none;" id="audio-mess"></p>
                        </div>
                        <div class="col-12">
                            <label for="file-upload123track" class="custom-file-upload">
                                <input id="file-upload123track" type="file" name="file" />
                                <svg xmlns="http://www.w3.org/2000/svg" style="fill: #fff" width="24" height="24"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M19.479 10.092c-.212-3.951-3.473-7.092-7.479-7.092-4.005 0-7.267 3.141-7.479 7.092-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408zm-7.479-1.092l4 4h-3v4h-2v-4h-3l4-4z" />
                                </svg>
                                Tải ảnh lên
                            </label>
                            <label for="file-uploadaudio" class="custom-file-upload">
                                <input id="file-uploadaudio" type="file" name="mp3" />
                                <svg xmlns="http://www.w3.org/2000/svg" style="fill: #fff" width="24" height="24"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M19.479 10.092c-.212-3.951-3.473-7.092-7.479-7.092-4.005 0-7.267 3.141-7.479 7.092-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408zm-7.479-1.092l4 4h-3v4h-2v-4h-3l4-4z" />
                                </svg>
                                Tải nhạc lên
                            </label>
                        </div>

                        <div class="col-12 mt-4">
                            <div class="sign__group w-100">
                                <label class="sign__label pr-5" for="track-genres">Thể loại</label>
                                <select name="genres" id="track-genres" class="main__select sign__input ml-3" multiple>
                                    @foreach (var genre in ViewBag.Genres as List<SelectListItem>)
                                    {
                                        <option value="@genre.Value">@genre.Text</option>

                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-12 mt-4">
                            <div class="sign__group w-100">
                                <label class="sign__label pr-5" for="track-artists">Nghệ sĩ</label>
                                <select name="artists" id="track-artists" class="main__select sign__input ml-3"
                                    multiple>
                                    @foreach (var artist in ViewBag.Artists as List<SelectListItem>)
                                    {
                                        <option value="@artist.Value">@artist.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-12">
                            <button type="button" onclick="addNewTrack()" id="submit--btn"
                                class="sign__btn w-100">Tạo</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

@section Scripts {

<script>
    $('#file-uploadaudio').change(() => {
        var files = document.getElementById('file-uploadaudio').files;
        var file = files[0];
        if (file.name.split('.').pop() != 'mp3') {
            openModalFailed('File không hợp lệ');
            $("#file-uploadaudio").val('');
            return;
        }

        if (file.size > 1024 * 1024 * 100) {
            openModalFailed('File quá lớn');
            $("#file-uploadaudio").val('');
            return;
        }

        var reader = new FileReader();
        var audio = document.createElement('audio');
        reader.onload = function (e) {
            audio.src = e.target.result
            audio.addEventListener('durationchange', function () {
                $('#audio-mess').text(`Bạn vừa upload "${file.name}". Dài ${audio.duration} giây`).show();
                $('#track-duration').val(audio.duration.toString().split('.')[0]);
            }, false);

            audio.addEventListener('onerror', function () {
                openModalFailed('Lỗi khi upload file');
                $("#file-uploadaudio").val('');
            }, false);
        };
        reader.readAsDataURL(file);
    });
    $('#submit--btn').click(() => {
        var mess = "";
        if ($("input[name='name']").val() == '') {
            mess += "Bạn chưa nhập tên bài hát. ";
        }
        if ($("input[name='mp3']").val() == '') {
            mess += "Bạn chưa chọn file mp3. ";
        }
        console.log(mess);
        if (mess != "") {
            setTimeout(() => {
                openModalFailed(mess);
            }, 500);
        } else {
            $('#form-add-track').submit();
        }
    });
    $('#file-upload123track').change(() => {
        var img = $('#file-upload123track')["0"].files["0"]
        if (img.name.split('.').pop() != 'png' && img.name.split('.').pop() != 'jpg' && img.name.split('.').pop() != 'jpeg') {
            openModalFailed('File không hợp lệ');
            $("#file-upload123track").val('');
            return;
        }
        $("#album--img--add").attr("src", URL.createObjectURL(img)).show();
    });

    function openModalSuccess(mess) {
        $('#success--title').text(mess);
        $('#action--sucess').click();
    }

    function openModalFailed(mess) {
        $('#failed--title').text(mess);
        $('#action--failed').click();
    }
</script>
}