@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@inject IHttpContextAccessor Accessor
@using Microsoft.AspNetCore.Http
@model X.PagedList.IPagedList<MusicStream.Models.Album>
@using X.PagedList.Mvc.Core
<main class="main">
    <div class="container-fluid">
        <div class="row row--grid">
            <!-- breadcrumb -->
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb__item breadcrumb__item--active">Quản lí album</li>
                </ul>
            </div>
            <!-- end breadcrumb -->
            <div class="col-12">
                <div class="main__filter">
                    <form action="/admin/Album" class="main__filter-search">
                        <input type="text" name="search" placeholder="Search..." value="@ViewBag.Search">
                        <button type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                    d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
            <!-- title -->
            <div class="col-12">
                <div class="main__title main__title--page">
                    <div class="row">
                        <div class="col-md-9">
                            <h1>Album</h1>
                        </div>
                        <div class="col-md-3">
                            <h5 style="color: #fff" onclick="createAlbumModal()">
                                <i class="fa-solid fa-plus"></i> Tạo thêm một album mới
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end title -->
        </div>


        <div class="dashbox">
            <div class="dashbox__table-wrap">
                <div class="dashbox__table-scroll">
                    <table class="main__table">
                        <thead>
                            <tr>
                                <th><a href="#">Id</a></th>
                                <th><a href="#">Tên</a></th>
                                <th><a href="#">Ảnh</a></th>
                                <th><a href="#">Ngày phát hành</a></th>
                                <th class="text-center"><a href="#">Thao tác</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="main__table-text">@item.AlbumId</div>
                                    </td>
                                    <td>
                                        <div class="main__table-text">@item.AlbumName</div>
                                    </td>
                                    <td>
                                        <img src="@item.Image" style="border-radius: 20px; width: 100px;">
                                        <div class="main__table-text"></div>
                                    </td>
                                    <td>
                                        <div class="main__table-text">@item.ReleaseDate.ToString().Substring(0, 10)</div>
                                    </td>
                                    <td>
                                        <div class="main__table-text d-flex justify-content-center">
                                            <a href="/admin/album?albumId=@item.AlbumId" class="mr-5 w-25"
                                            onclick="editAlbumModal('@item.AlbumId')">
                                                <button class="btn btn-outline-success w-100">
                                                    <i class="text-success fa-solid fa-pen-to-square"></i>
                                                </button>
                                            </a>
                                            <button class="btn btn-outline-danger w-25"
                                            onclick="deleteAlbumModal('@item.AlbumId', '@item.AlbumName')">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @Html.PagedListPager(Model, page => Url.Action("album", new { page, search = ViewBag.Search}))
    </div>
</main>
<div id="modal-add-Album" class="zoom-anim-dialog mfp-hide modal modal-lg modal--info">
    <h2 class="id-target" style="color: white">
        Thêm album mới
    </h2>
    <div class="row">
        <form enctype="multipart/form-data" id="form-add-Album" method="post" action="/admin/addalbum"
            class="sign__form sign__form--contacts">
            <div class="row w-100">
                <div class="col-12 col-md-12">
                    <div class="sign__group w-100">
                        <label class="sign__label" for="Album-name">Tên album</label>
                        <input type="text" name="name" id="Album-name" class="sign__input" placeholder="Tên album">
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <img id="album--img--add" style="width: 300px; height: auto; border-radius: 20px; display: none;" />
                </div>
                <div class="col-12">
                    <label for="file-upload123" class="custom-file-upload">
                        <input id="file-upload123" type="file" name="file" />
                        <svg xmlns="http://www.w3.org/2000/svg" style="fill: #fff" width="24" height="24"
                            viewBox="0 0 24 24">
                            <path
                                d="M19.479 10.092c-.212-3.951-3.473-7.092-7.479-7.092-4.005 0-7.267 3.141-7.479 7.092-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408zm-7.479-1.092l4 4h-3v4h-2v-4h-3l4-4z" />
                        </svg>
                        Tải ảnh lên
                    </label>
                </div>
                <div class="col-12 col-md-12 mt-3">
                    <div class="sign__group w-100">
                        <label class="sign__label" for="Album-name">Ngày phát hành</label>
                        <input type="date" id="releaseDate" name="releaseDate" class="sign__input">
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <button type="button" onclick="addAlbum()" class="sign__btn w-100">Tạo</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="modal-delete-Album" class="zoom-anim-dialog mfp-hide modal modal--info">
    <h2 class="id-target" style="color: white">
        Xóa bài hát
    </h2>
    <div class="row">
        <div class="row">
            <div class="col-12">
                <div class="sign__group ml-3">
                    <p id="delete-mess" class="text-white"></p>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-danger w-100" onclick="deleteAlbum()">Xóa</button>
            </div>
        </div>
    </div>
</div>

<div style="display: none">
    <a href="#modal-add-Album" id="add-Album" class="open-modal">Modal add</a>
    <a href="#modal-edit-Album" id="edit-Album" class="open-modal">Modal edit</a>
    <a href="#modal-delete-Album" id="delete-Album" class="open-modal">Modal delete</a>
</div>
@section Scripts {

<script>
    let aid;

    function createAlbumModal() {
        $('#add-Album').click();
    }

    function addAlbum() {
        let name = $('#Album-name').val();
        let mess = "";
        if (name == '') {
            mess += 'Tên album không được để trống. ';
        }
        if ($('#file-upload123').val() == '') {
            mess += 'Chưa chọn ảnh. ';
        }
        if ($('#releaseDate').val() == '') {
            mess += 'Chưa chọn ngày phát hành. ';
        }
        if (mess != '') {
            setTimeout(() => {
                openModalFailed(mess);
            }, 500);
        } else {
            $('#form-add-Album').submit();
        }
    }

    function deleteAlbumModal(AlbumId, name) {
        $('#delete-Album').click();
        $('#delete-mess').text(`Bạn có thật sự muốn xóa album ${name}`);
        aid = AlbumId;
    }

    function deleteAlbum() {
        if (aid) {
            $.ajax({
                url: `/admin/deletealbum?albumId=${aid}`,
                type: 'DELETE',
                success: function (result) {
                    result = JSON.parse(result);
                    if (result["Success"]) {
                        openModalSuccess("Xóa album thành công.");
                        setTimeout(() => {
                            window.location.reload();
                        }, 2000);
                    } else {
                        openModalFailed("Xóa album thất bại.");
                    }
                }
            });
        } else {
            $('#failed--title').text("Xóa album thất bại.");
            $('#action--failed').click();
        }
    }

    $('#file-upload123').change(() => {
        var img = $('#file-upload123')["0"].files["0"]
        if (img.name.split('.') != 'png' && img.name.split('.').pop() != 'jpg' && img.name.split('.').pop() != 'jpeg') {
            openModalFailed('File không hợp lệ');
            $("#file-upload123").val('');
            return;
        }
        if (img.size > 1024 * 1024 * 20) {
            openModalFailed('File quá lớn');
            $("#file-upload123").val('');
            return;
        }
        $("#album--img--add").attr("src", URL.createObjectURL(img)).show();
    });

    $('#file-upload123edit').change(() => {
        var img = $('#file-upload123edit')["0"].files["0"]
        if (img.name.split('.') != 'png' && img.name.split('.').pop() != 'jpg' && img.name.split('.').pop() != 'jpeg') {
            openModalFailed('File không hợp lệ');
            $("#file-upload123edit").val('');
            return;
        }
        if (img.size > 1024 * 1024 * 20) {
            openModalFailed('File quá lớn');
            $("#file-upload123edit").val('');
            return;
        }
        $("#Album--img--edit").attr("src", URL.createObjectURL(img)).show();
    });

    function openModalSuccess(mess) {
        console.log(mess)
        $('#success--title').text(mess);
        $('#action--sucess').click();
    }

    function openModalFailed(mess) {
        $('#failed--title').text(mess);
        $('#action--failed').click();
    }

    $(document).ready(function () {
        @(string.IsNullOrEmpty(Accessor.HttpContext.Session.GetString("addAlbum")) ? "" : Accessor.HttpContext.Session.GetString("addAlbum").Equals("success") ? Html.Raw("openModalSuccess('Thêm album thành công.')") : Html.Raw("openModalFailed('Thêm album thất bại')"))
            @(string.IsNullOrEmpty(Accessor.HttpContext.Session.GetString("editAlbum")) ? "" : Accessor.HttpContext.Session.GetString("editAlbum").Equals("success") ? Html.Raw("openModalSuccess('Chỉnh sửa album thành công.')") : Html.Raw("openModalFailed('Chỉnh sửa album thất bại')"))
    });
    @{
        Accessor.HttpContext.Session.Remove("addAlbum");
        Accessor.HttpContext.Session.Remove("editAlbum");
        }
</script>
}