@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row row--grid">
            <!-- breadcrumb -->
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb__item breadcrumb__item--active">Tìm kiếm</li>
                </ul>
            </div>
            <!-- end breadcrumb -->
            <!-- title -->
            <div class="col-12">
                <div class="main__title main__title--page">
                    <h1>Tìm kiếm</h1>
                </div>
            </div>
            <!-- end title -->
        </div>

        <!-- releases -->
        <div class="row row--grid">
            <div class="col-12">
                <form action="/home/search" method="get">
                    <div class="main__filter">
                        <div class="main__filter-search">
                            <input type="text" name="key" placeholder="Tìm kiếm...">
                        </div>

                        <div class="main__filter-wrap">
                            <select multiple class="main__select" id="artists" name="artists" data-placeholder="   Nghệ sĩ">
                                @foreach (var artist in (List<Account>)ViewData["artists"])
                                {
                                    <option value="@artist.AccountId">@artist.Fullname</option>
                                }
                            </select>
                            @Html.ListBox("genres", (MultiSelectList)ViewData["genres"], new {@class = "main__select", @id = "genres", @placeholder = "   Thể loại"})
                            
                            @*<select multiple class="main__select" id="genres" name="genres" data-placeholder="   Thể loại">
                                @foreach (var genre in (MultiSelectList)ViewData["genres"])
                                {
                                    <option value="@genre.Value">@genre.Text</option>
                                }

                            </select>*@
                        </div>

                        <div class="slider-radio">
                            <input type="radio" name="sortby" value="newest" id="newest" checked="checked"><label for="newest">Mới nhất</label>
                            <input type="radio" name="sortby" value="popular" id="popular"><label for="popular">Phổ biến</label>
                        </div>
                        <input type="hidden" name="page" value="@ViewData["page"]">
                        <button type="submit" class="hero__btn hero__btn--green" style="margin: auto; margin-left: 20px; padding: 10px 10px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z" /></svg></button>
                    </div>
                </form>
                <div class="row row--grid">
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="album">
                            <div class="album__cover">
                                <img src="img/covers/cover1.jpg" alt="">
                                <a href="release.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z" /></svg></a>
                                <span class="album__stat">
                                    <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.71,16.29a1,1,0,0,0-.33-.21,1,1,0,0,0-.76,0,1,1,0,0,0-.33.21,1,1,0,0,0-.21.33,1,1,0,0,0,.21,1.09,1.15,1.15,0,0,0,.33.21.94.94,0,0,0,.76,0,1.15,1.15,0,0,0,.33-.21,1,1,0,0,0,.21-1.09A1,1,0,0,0,3.71,16.29ZM7,8H21a1,1,0,0,0,0-2H7A1,1,0,0,0,7,8ZM3.71,11.29a1,1,0,0,0-1.09-.21,1.15,1.15,0,0,0-.33.21,1,1,0,0,0-.21.33.94.94,0,0,0,0,.76,1.15,1.15,0,0,0,.21.33,1.15,1.15,0,0,0,.33.21.94.94,0,0,0,.76,0,1.15,1.15,0,0,0,.33-.21,1.15,1.15,0,0,0,.21-.33.94.94,0,0,0,0-.76A1,1,0,0,0,3.71,11.29ZM21,11H7a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2ZM3.71,6.29a1,1,0,0,0-.33-.21,1,1,0,0,0-1.09.21,1.15,1.15,0,0,0-.21.33.94.94,0,0,0,0,.76,1.15,1.15,0,0,0,.21.33,1.15,1.15,0,0,0,.33.21,1,1,0,0,0,1.09-.21,1.15,1.15,0,0,0,.21-.33.94.94,0,0,0,0-.76A1.15,1.15,0,0,0,3.71,6.29ZM21,16H7a1,1,0,0,0,0,2H21a1,1,0,0,0,0-2Z" /></svg> 22</span>
                                    <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,13.18V11A8,8,0,0,0,4,11v2.18A3,3,0,0,0,2,16v2a3,3,0,0,0,3,3H8a1,1,0,0,0,1-1V14a1,1,0,0,0-1-1H6V11a6,6,0,0,1,12,0v2H16a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1h3a3,3,0,0,0,3-3V16A3,3,0,0,0,20,13.18ZM7,15v4H5a1,1,0,0,1-1-1V16a1,1,0,0,1,1-1Zm13,3a1,1,0,0,1-1,1H17V15h2a1,1,0,0,1,1,1Z" /></svg> 19 503</span>
                                </span>
                            </div>
                            <div class="album__title">
                                <h3><a href="release.html">Space Melody</a></h3>
                                <span><a href="artist.html">VIZE</a> & <a href="artist.html">Alan Walker</a> & <a href="artist.html">Leony</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="main__load" type="button">Load more</button>
            </div>
        </div>
        <!-- end releases -->
    </div>
</main>
<!-- end main content -->
@section Scripts {
<script>
        $('.main__select').select2({
        minimumResultsForSearch: -1,
        placeholder: function(){
            $(this).data('placeholder');
        }
    }):
</script>
}